In [15]:
import numpy as np
import pandas as pd

data = pd.read_csv(r'dados/movie_metadata.csv')

data.columns[20]

'country'

# Consultas

In [4]:
# Consulta 1: Filme com a maior arrecadação
def consulta1(data):
    aux = data[['movie_title', 'gross'][:]].dropna()
    return pd.DataFrame(aux.loc[aux.gross.idxmax()])

# Consulta 2: Filme com maior arrecadação para cada idioma
def consulta2(data):
    aux = data[['language', 'movie_title', 'gross'][:]].dropna()
    return aux.reindex(labels=aux.groupby('language').gross.idxmax(), axis="index")

# Consulta 3: Top 3 países com a maior quantidade de filmes
def consulta3(data):
    result = []
    aux = data[['country', 'movie_title'][:]].dropna()
    country_list = aux.groupby('country').movie_title.nunique().to_frame()
    for i in range(3):
        result.append(country_list.loc[country_list.movie_title.idxmax()])
        country_list = country_list.drop(country_list.movie_title.idxmax())
    return pd.DataFrame(result)

# consulta1(data)
# consulta2(data)
# consulta3(data)

        movie_title
USA            3711
UK              434
France          154

# Funções Score

In [8]:
def score1(data, out):
    values = []
    for i in data:
        if(i.movie_title != 'None' and not np.isnan(i.gross)):
            if(i.gross == out):
                values.append(i.gross)
            else:
                values.append(0)
    return values

def score2(data, out):
    values = []
    for i in data:
        if(i in out and not np.isnan(i.gross)):
            values.append(i.gross)
        else:
            values.append(0)
    return values

def score3(data, out):
    data_countries = data.country.dropna().array
    countries = []
    for i in range(0, len(data_countries)):
        if(data_countries[i] not in countries):
            countries[data_countries[i]] = 0
#     for i in data:
    #
    return countries