In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv(r'dados/movie_metadata.csv')
budgets = [0.1, 1, 10]

data.drop_duplicates()
data.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

# Consultas

In [2]:
# Consulta 1: Filme com a maior arrecadação
def consulta1(data):
    aux = data[['movie_title', 'gross'][:]].dropna()
    return aux.loc[aux.gross.idxmax()]

# Consulta 2: Filme com maior arrecadação para cada idioma
def consulta2(data):
    aux = data[['language', 'movie_title', 'gross'][:]].dropna()
    return aux.reindex(labels=aux.groupby('language').gross.idxmax(), axis="index")

# Consulta 3: Top 3 países com a maior quantidade de filmes
def consulta3(data):
    result = []
    aux = data[['country', 'movie_title'][:]].dropna()
    country_list = aux.groupby('country').movie_title.nunique().to_frame()
    print(country_list)
    for i in range(3):
        result.append(country_list.loc[country_list.movie_title.idxmax()])
        country_list = country_list.drop(country_list.movie_title.idxmax())
    return result

# consulta1(data)
# consulta2(data)
# consulta3(data)

# Funções Score

In [3]:
def score1(data, out):
    values = []
    aux = data[['movie_title', 'gross'][:]]
    for i in range(0, len(aux)):
        atual = aux.iloc[i]
        if(atual.movie_title != 'None' and not np.isnan(atual.gross)):
            if(atual.gross == out):
                values.append(atual.gross)
            else:
                values.append(0)
    return values

def score2(data, out):
    values = []
    aux = data[['movie_title', 'language', 'gross'][:]]
    for i in range(0, len(aux)):
        atual = aux.iloc[i]
        if(atual.movie_title in out and not np.isnan(atual.gross)):
            values.append(i.gross)
        else:
            values.append(0)
    return values

def score3(data, out):
    data_countries = data.country.dropna().array
    countries, values = []
    for i in range(0, len(data_countries)):
        if(data_countries[i] not in countries):
            countries[data_countries[i]] = 0
    for i in data:
        if(i.country != 'None'):
            countries[i.country] += 1
            if(i.country in saida):
                values.append(i.country)
            else:
                values.append(0)
    return values

# Funções de sensibilidade

In [6]:
def sense_q1(data):
    mat = []
    sense = 0
    results = data[['movie_title'][:]]
    for i in range(0, len(results)):
        mat.append(score1(data, results.iloc[i].movie_title))
        
    for i in range(0, len(mat)):
        for j in range(0, len(mat) - 1):
            for k in range(j + 1, len(mat)):
                psens = abs(mat[i][j] - mat[i][k])
                if(sense <= psens):
                    sense = psens
    return sense

def sense_q2(data):
    mat = []
    sense = 0
    results = data[['movie_title', 'language', 'gross'][:]]
    for i in results:
        mat.append(score2(data, i))
    for i in range(0, len(mat)):
        for j in range(0, len(mat) - 1):
            for k in range(j + 1, len(mat)):
                psens = abs(mat[i][j] - mat[i][k])
                if(sense <= psens):
                    sense = psens
    return sense

def sense_q3(data):
    mat = []
    sense = 0
    country_list = []
    for i in data:
        if(i.country not in country_list and i.country != 'None'):
            country.list.append(i.country)
    return sense


sense_q2(data)

0